<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8">
    <title>Logotype</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="">
    <meta name="author" content="">

    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
          integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <script src="https://code.jquery.com/jquery-3.4.1.js"
            integrity="sha256-WpOohJOqMqqyKL9FccASB9O0KwACQJpFTUBLTYOVvVU="
            crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"
            integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1"
            crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/sockjs-client/1.4.0/sockjs.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/stomp.js/2.3.3/stomp.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"
            integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM"
            crossorigin="anonymous"></script>
    <script type="text/javascript" src="../static/js/response.js" th:src="@{/js/response.js}"></script>

</head>

<body onload="connect()" onunload="disconnect()">

<div class="d-flex flex-column flex-md-row align-items-center p-3 px-md-4 mb-3 bg-grey border-bottom shadow-sm">
    <h5 class="my-0 mr-md-auto font-weight-normal">LOGOTYPE</h5>
    <nav class="my-2 my-md-0 mr-md-3">
        <a class="p-2 text-dark" href="/users">Users</a>
        <a class="p-2 text-dark" href="/fields">Fields</a>
        <a class="p-2 text-dark" href="#">Responses</a>
    </nav>
    <form class="form-inline my-2 my-lg-0" method="post" th:action="@{/logout}">
        <button class="btn btn-outline-danger my-2 my-sm-0 btn-sm" type="submit">Logout</button>
    </form>
</div>

<main role="main" class="container" id="mainContainer">

    <h1>Responses</h1>
    <table id="responsesTable" class="table table-stripped">
            <thead id="responseThead">
                <tr id="responseHeadRow">

                </tr>
            </thead>
    </table>

    <div id="tempDiv">
        <label>Accept</label>
        <label id="accept">Text</label>
    </div>

</main><!-- /.container -->


</body>
</html>
